.container
  %section.round
    %center
      %h1 Welcome
      to the
      %b
        %i Lwiw backgammon
      %br/
      %h2
        = link_to "Login", :login
        | #{link_to "Register", new_user_path}
      %br/
      %br/
      = image_tag("images/logo2.jpg")
      %br/
      2013 @ All Rights Reserved