<a href="/signup" class="room1_button round">Room 1</a>
<a href="/signup" class="room2_button round">Room 1</a>
<a href="/signup" class="room3_button round">Room 1</a>


	<%= render 'chat/chat_form' %>
