<%= link_to "Back to Lobby", :root, :class => "room2_button round" %>
<br><br><br><br><br>
<hr>
<section class="round">
<%= render :partial => 'room/new_reject_game' %>
</section>

<hr size="4">

<section class="round">
<div id="created_area"><!-- --></div>
</section>
	<%= render 'chat/chat_form' %>