<div id="nav">
        <% if current_user %>
        <p align="right">
        <%= link_to "Logout", :logout%>
        </p>
        <% else %>
        <%= link_to "Register", new_user_path%> | 
        <%= link_to "Login", :login %>
        <% end %>
    </div>
 