body {
    background: #FCFCFC url('../images/body.jpg');
    font: normal 13px Verdana,sans-serif;
    color: #345;
    padding-bottom: 1em;
}
go {
    color: #000;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

.layer {
   padding-left: 10px; 
   padding-right: 10px;
   padding-top: 10px;
   padding-top: 10px;
}
   
/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

a.room1_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ff0;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  left: 5%;
}

a.room2_button {
  margin-left: 20%;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  left: 20%;
}

a.room3_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  right: 5%;
}

.text_field {
	width:90%;
	height:30px;

}

.button {
	width:9%;
	height:30px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background: oldlace;
}

#messages {
background:oldlace;
width:80%;
height:22%;
position:fixed;
left: 0;
bottom: 5.5%;
margin-bottom:1px;
margin-right:1px;
margin-left:1px;
margin-top:1px;
}

#line {
background:oldlace;
width:80%;
height:5%;
position:fixed;
left: 0;
bottom: 0;
margin-bottom:1px;
margin-right:1px;
margin-left:1px;
margin-top:1px;
}

#online {
background:oldlace;
height:27.5%;
position:fixed;
right: 0;
width: 19.5%;
bottom: 0;
margin-bottom:1px;
margin-right:1px;
margin-left:1px;
margin-top:1px;
overflow: auto;
}

.chat {
margin-top: 5px;
	height: 95%;
	overflow: auto;
	position: relative;
	text-align: left;
}

.chat span {
	display: block;
}