<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/chat.js"></script>



	<div id="messages" class="round">
		<div class="chat">
			<div class="layer">
				<div id="chat_area"><!--  --></div>
			</div>
		</div>
	</div>
	
	
	<div id="line" class="round">
		<%= form_for :chat, :html => { :idn => 'chat_form' }, :url => {:controller => :chat, :action => :chat_save } do |f| %>
			<%= f.text_field(:text, :idn => "chat_text", :class => 'text_field round') %>
			<%= f.submit(:class => 'button round') %>			
		<% end %>
	</div>
	
	
	
	<div id="online" class="round">
		<div class="layer">
				<div id="online_area"><!-- --></div>
		</div>
	</div> 

